*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: white;
  --accent-color: #a7d2f6;
  --vivid-accent-color: #3575a9;
  --secondary-color: rgb(149, 147, 147);
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  margin-top: 50px;
}

header h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 200;
  line-height: 100px;
  justify-self: right;
}

#addBookBtn {
  width: 60px;
  filter: invert(79%) sepia(4%) saturate(4033%) hue-rotate(182deg)
    brightness(105%) contrast(93%);
  justify-self: right;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 250px;
}

.quote {
  display: grid;
  margin-top: 20px;
  padding: 30px;
  border-left: solid var(--accent-color);
  max-width: 800px;
}

.quote h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  color: var(--secondary-color);
  justify-self: center;
}

.quote h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin: 10px 80px 0px 0px;
  color: var(--secondary-color);
  justify-self: right;
}

#shelf {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.bookCard {
  display: grid;
  grid-template-rows: 1fr 0.1fr;
  width: 800px;
  margin: 10px;
  padding: 10px;
  border: solid var(--accent-color);
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: var(--accent-color);
}

.bookCard button {
  justify-self: space-between;
  min-width: 100px;
  max-height: 40px;
  margin: 5px 8px;
  padding: 10px 20px;
  background-color: var(--main-color);
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  line-height: 16px;
  border: 0;
  border-radius: 30px;
}

.bookCard button:hover {
  filter: brightness(0.8);
}

.bookCard .title {
  font-size: 20px;
  word-wrap: break-word;
  max-inline-size: 700px;
  text-align: center;
  color: var(--vivid-accent-color);
}

.bookCard .author {
  font-size: 20px;
  word-wrap: break-word;
  max-inline-size: 700px;
  text-align: center;
}

.bookCardBtns .remove {
  grid-area: 2 / 1 / 3 / 3;
  background-color: var(--accent-color);
  color: white;
}

.bookCardBtns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.bookCardTitleAuthor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.fullForm {
  position: absolute;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 15fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 30px;
  width: 400px;
  background-color: var(--accent-color);
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: var(--main-color);
}

.fullForm img {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: right;
  width: 20px;
  filter: invert(89%) sepia(88%) saturate(0%) hue-rotate(268deg)
    brightness(110%) contrast(97%);
}

.fullForm h3 {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  justify-self: center;
  font-weight: 600;
  font-size: 25px;
  padding-left: 20px;
}

form {
  grid-area: 2 / 1 / 3 / 3;
  justify-self: center;
  align-self: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

input {
  border-radius: 20px;
  border: none;
  padding: 5px;
  width: 200px;
  margin-top: 5px;
}

.readingStatus label {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.readingStatus label {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.readingStatus input {
  width: 25px;
}

.readingStatusElem {
  display: flex;
  margin: 5px;
}

#submitBtn {
  grid-area: 3 / 1 / 4 / 3;
  justify-self: center;
  width: 100px;
  margin: 5px 8px;
  padding: 10px 20px;
  background-color: var(--secondary-color);
  filter: brightness(1);
  font-family: "Montserrat", sans-serif;
  color: var(--main-color);
  font-size: 16px;
  line-height: 16px;
  border: 0;
  border-radius: 30px;
}

#submitBtn:hover {
  filter: brightness(0.8);
}

@media (max-width: 910px) {
  html {
    display: flex;
    flex-direction: column;
  }

  body {
    align-self: center;
    width: 600px;
  }

  header {
    grid-template-columns: 2fr 1fr;
    width: 600px;
  }

  #addBookBtn {
    width: 40px;
    margin-right: 20px;
  }

  .quote h2 {
    font-size: 25px;
  }

  .quote h3 {
    font-size: 20px;
  }

  .bookCard {
    max-width: 600px;
  }

  .bookCard .title {
    font-size: 16px;
    word-wrap: break-word;
    max-inline-size: 550px;
  }

  .bookCard .author {
    font-size: 20px;
    word-wrap: break-word;
    max-inline-size: 550px;
  }

  .bookCardTitleAuthor {
    width: 550px;
  }
}

@media (max-width: 610px) {
  html {
    display: flex;
    flex-direction: column;
  }

  body {
    align-self: center;
    width: 380px;
  }

  header {
    grid-template-columns: 2fr 1fr;
    width: 380px;
  }

  header h1 {
    font-size: 32px;
  }

  #addBookBtn {
    width: 40px;
    margin-right: 5px;
  }

  .quote h2 {
    font-size: 18px;
  }

  .quote h3 {
    font-size: 20px;
  }

  .bookCard {
    max-width: 380px;
    justify-content: center;
  }

  .bookCard .title {
    font-size: 16px;
    word-wrap: break-word;
    max-inline-size: 300px;
  }

  .bookCard .author {
    font-size: 14px;
    word-wrap: break-word;
    max-inline-size: 300px;
  }

  .bookCardTitleAuthor {
    width: 250px;
  }

  .fullForm {
    width: 280px;
    height: 280px;
    font-size: 16px;
  }

  .fullForm img {
    width: 15px;
  }

  .fullForm h3 {
    font-size: 20px;
  }
}
